<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/globals.css" />
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap">
          <div class="image"><img class="nasa" src="static/img/nasa-q1p7bh3shj8-unsplash-1.png" /></div>
          <div class="text-wrapper">"探索世界，發現無盡娛樂 ─ 我們的網站，你的精彩時刻。"</div>
        </div>
        <div class="overlap-group"><div class="text-wrapper-2">展演分類</div></div>
        <img class="img" src="static/img/4aa4b6a6e17927fb31e9dfce1c60e7d7-1.png" />
        <img class="yvette-de-wit" src="static/img/yvette-de-wit-nyrvisodq2m-unsplash-1.png" />
        <img class="dannie-jing" src="static/img/dannie-jing-3gzlhroziqg-unsplash-1.png" />
        <img class="rainier-ridao" src="static/img/rainier-ridao-grdpppkczdy-unsplash-1.png" />
        <img class="manuel-nageli" src="static/img/manuel-nageli-nsgsqjha1mm-unsplash-1.png" />
        <img class="ahmad-odeh-TK" src="static/img/ahmad-odeh-tk-wt3dl2tw-unsplash-1.png" />
        <img class="felipe-bustillo" src="static/img/felipe-bustillo-4vdrconuve0-unsplash-1.png" />
        
        <a href="/index1.html">
          <div class="overlap-2">
            <div class="rectangle"></div>
            <p class="p"><span class="span">●</span> <span class="text-wrapper-3">演唱會</span></p>
          </div>
        </a>

        <a href="/index2.html">
          <div class="overlap-3">
            <div class="rectangle-2"></div>
            <p class="div-2"><span class="span">●</span> <span class="text-wrapper-3">展覽</span></p>
                  </div>
        </a>

        <a href="/index3.html">
          <div class="overlap-4">
            <div class="rectangle-2"></div>
            <p class="div-2"><span class="span">●</span> <span class="text-wrapper-3">舞蹈</span></p>
          </div>
        </a>

        <a href="/index4.html">
            <div class="overlap-5">
              <div class="rectangle-2"></div>
              <p class="p"><span class="span">●</span> <span class="text-wrapper-3">戲劇</span></p>
            </div>
        </a>
        
        <a href="/index5.html">
          <div class="overlap-6">
            <div class="rectangle-2"></div>
            <p class="div-3"><span class="span">●</span> <span class="text-wrapper-3">電影</span></p>
          </div>
        </a>
        
        <a href="/index6.html">
          <div class="overlap-7">
            <div class="rectangle-2"></div>
            <p class="p"><span class="span">●</span> <span class="text-wrapper-3">音樂</span></p>
          </div>
        </a>

        <div class="text-wrapper-4">近期展演</div>
        <div class="text-wrapper-5">近期展演</div>
        <div class="overlap-8">
          <div class="text-wrapper-6">關於我們</div>
          <div class="text-wrapper-7">雲端運算應用與實務 GROUP P ：蔡傑宇、林詮鎰</div>
          <img class="devicon-facebook" src="static/img/devicon-facebook.svg" />
          <img class="skill-icons" src="static/img/skill-icons-instagram.svg" />
        </div>
        <div class="frame">
          <div class="text-wrapper-8">ShowSpotter</div>
          <div class="overlap-group-2">
            <img class="vector" src="static/img/vector.svg" />
            <div class="text-wrapper-9">Chat Box</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
